POSTGRES_PASSWORD=root
POSTGRES_USER=root
POSTGRES_DB=placczaccdb

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY=django-insecure-f(@qedoe=iq%08%u_l78745ek=!yevm^3wu7mir%@zv212#*-y
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DATABASE_URL=postgres://root:root@db:5432/placczaccdb